.dashboard-container {
    padding: 100px 0px;
    text-align: center;
}

.create-btn {
    display: inline !important;
}

.bills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

@media (max-width: 600px) {
    .bills {
        grid-template-columns: repeat(1, 1fr);
    }
}