.bill {
    display: contents;
    padding: 20px;
}

.bill .card {
    border-left-width: thick;
    min-width: 140px;
}

.card-footer {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.bill-footer-remove-btn {
    padding: 10px 20px;
    border: 1px solid red;
    border-radius: 5px;
    background: red;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    margin: 5px;
}

.bill-footer-remove-btn:hover {
    background: lightcoral;
    border: 1px solid lightcoral;
}

.category-icon {
    padding-right: 5px;
    vertical-align: middle;
}

.category-text {
    vertical-align: middle;
}